$color-titulos: rgb(29, 29, 66);
$color-enlaces: rgb(45, 45, 103);
$borde-input: solid 2px rgb(88, 90, 112);
$border-radius: 7px 7px 7px 7px;
$color-fondo: rgba(196, 230, 226, 0.445);
$azul-muy-oscuro: rgb(20, 20, 27);