$color-titulos: rgb(65, 65, 141);
$color-texto: rgb(32, 28, 61);
$color-h2: rgb(27, 8, 59);
$color-enlaces: rgb(19, 19, 72);
$borde-input: solid 2px rgb(88, 90, 112);
$borde-button: solid 2px rgb(55, 57, 86);
$fondo-button: rgba(54, 56, 81, 0.626);
$border-radius: 7px 7px 7px 7px;
$color-fondo: rgba(178, 181, 242, 0.426);
$azul-muy-oscuro: rgb(17, 17, 40);