@mixin dflex-column-aligncen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin dflex-justifycen-aligncen {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dflex-column-justifycen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin w-h ($width, $height) {
    width: $width;
    height: $height;
}
